<!-- <div class="container">
  <div class="card-header">
    <div class="card-body" *ngFor="let data of addData">
        {{data}}
    </div>
  </div>
</div> -->


<div class="card col-6" style="width: 18rem;">
    <div class="card-header">
      Interval Data
    </div>
      <ul class="list-group list-group-flush" id="dataList1">
      </ul>
  <!-- <button class="btn btn-info" #getDataBtn>Get Data</button> -->
</div>

<br><br><br><br>

<div class="card" style="width: 18rem;">
        <div class="card-header">
          Timer Data
        </div>
    <ul class="list-group list-group-flush" id="dataList">
    </ul>
</div>
